[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sbrudenell
[access "refs/for/refs/*"]
	read = group user/sbrudenell
	push = group user/sbrudenell
	label-Code-Review = -2..+2 group user/sbrudenell
	label-Verified = -1..+1 group user/sbrudenell
	rebase = group user/sbrudenell
	removeReviewer = group user/sbrudenell
	submit = group user/sbrudenell
[access "refs/heads/*"]
	read = group user/sbrudenell
	create = group user/sbrudenell
	push = +force group user/sbrudenell
	pushMerge = group user/sbrudenell
[access "refs/tags/*"]
	push = +force group user/sbrudenell
	pushTag = group user/sbrudenell
	pushSignedTag = group user/sbrudenell
